.item {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin-bottom: 10px;
  justify-content: space-evenly;
}

button {
  padding: 4px 8px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

button:hover {
  background-color: #4526e1;
}